<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record id="is_contact_action" model="ir.actions.act_window">
        <field name="name">Contacts</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">list,kanban,form,activity</field>
    </record>


    <!-- JES -->
    <menuitem id="is_crm_root_menu" name="JES" sequence="1"/>

    <!-- Suivi du temps -->
    <menuitem id="is_suivi_temps_root_menu" name="Suivi du temps" sequence="2"/>
    <menuitem id="is_suivi_temps_menu" name="Suivi du temps" parent="is_suivi_temps_root_menu" action="is_suivi_temps_action" sequence="10"/>

    <!-- JES / CRM -->
    <menuitem id="is_crm_menu" name="CRM" parent="is_crm_root_menu" action="crm.crm_lead_action_pipeline" sequence="5"/>

    <!-- JES / Centrales -->
    <menuitem id="is_centrale_main_menu" name="Centrales" parent="is_crm_root_menu" sequence="10"/>
    <menuitem id="is_centrale_menu"                name="Centrales"      parent="is_centrale_main_menu" action="is_centrale_action"             sequence="10"/>
    <menuitem id="is_centrale_kanban_dp_menu"      name="Kanban DP/CP"   parent="is_centrale_main_menu" action="is_centrale_kanban_dp_action"      sequence="30"/>
    <menuitem id="is_centrale_kanban_ptf_menu"     name="Kanban PTF"     parent="is_centrale_main_menu" action="is_centrale_kanban_ptf_action"     sequence="31"/>
    <menuitem id="is_centrale_kanban_crd_menu"     name="Kanban CRD"     parent="is_centrale_main_menu" action="is_centrale_kanban_crd_action"     sequence="32"/>
    <menuitem id="is_centrale_kanban_cardi_menu"   name="Kanban CARD-I"  parent="is_centrale_main_menu" action="is_centrale_kanban_cardi_action"   sequence="33"/>
    <menuitem id="is_centrale_kanban_socotec_menu" name="Kanban Socotec" parent="is_centrale_main_menu" action="is_centrale_kanban_socotec_action" sequence="34"/>
    <menuitem id="is_centrale_kanban_consuel_menu" name="Kanban Consuel" parent="is_centrale_main_menu" action="is_centrale_kanban_consuel_action" sequence="35"/>
    <menuitem id="is_centrale_kanban_s21_menu"     name="Kanban S21"     parent="is_centrale_main_menu" action="is_centrale_kanban_s21_action"     sequence="36"/>
    <menuitem id="is_centrale_kanban_edf_menu"     name="Kanban EDF AO"  parent="is_centrale_main_menu" action="is_centrale_kanban_edf_action"     sequence="37"/>

    <!-- JES / SAV -->
    <menuitem id="is_sav_main_menu"   name="SAV"        parent="is_crm_root_menu" sequence="20"/>
    <menuitem id="is_sav_menu"        name="SAV"        parent="is_sav_main_menu" action="is_sav_action"        sequence="10"/>
    <menuitem id="is_sav_kanban_menu" name="Vue Kanban" parent="is_sav_main_menu" action="is_sav_kanban_action" sequence="20"/>

    <!-- JES / Produits -->
    <menuitem id="is_produit_menu"  name="Produits"  parent="is_crm_root_menu" action="is_produit_action"                    sequence="40"/>
    
    <!-- JES / Contact -->
    <menuitem id="is_contact_menu"  name="Contacts"  parent="is_crm_root_menu" action="is_contact_action"                    sequence="50"/>

    <!-- JES / Configuration -->
    <record id="is_crm_configuration_menu" model="ir.ui.menu" >
        <field name="name">Configuration</field>
        <field name="sequence">90</field>
        <field name="parent_id" eval="ref('is_crm_root_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('project.group_project_manager'),
        ])]"/>
    </record>
    <menuitem id="is_famille_menu"           name="Familles"               parent="is_crm_configuration_menu" action="is_famille_action"           sequence="10"/>
    <menuitem id="is_centrale_panneau_menu"  name="Panneaux de centrales"  parent="is_crm_configuration_menu" action="is_centrale_panneau_action"  sequence="20"/>
    <menuitem id="is_centrale_onduleur_menu" name="Onduleurs de centrales" parent="is_crm_configuration_menu" action="is_centrale_onduleur_action" sequence="30"/>
    <menuitem id="is_centrale_coffret_menu"  name="Coffrets de centrales"  parent="is_crm_configuration_menu" action="is_centrale_coffret_action"  sequence="40"/>



</odoo>
